.download{
    @media(max-width:700px){
        padding: 12px 6px;
    }
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 15px;
    background: #5956e9;
    color: #fff;
}
.main_content_border{
    @media(max-width:700px){
        width: 300px;
        height: 370px;
        left: 50px;
        top: 168px;
        position: absolute;
    }
    width: 570px;
    height: 535px;
    position: absolute;
    left: 200px;
    border-style: solid;    
    border-width: 15px;
    border-color: #7572FF;
}
.main_content_heading{
    @media(max-width:700px){
        width: 310px;
        height: 318px;
        z-index: 2;
        position: relative;
        padding: 10px;
        p{
            padding-top: 20px;
            line-height: 20px;
        }
        h3{
            padding-top: 20px;
        }
        .googleplay{
            padding-top: 20px;
        }
    }
    width: 570px;
    height: 390px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 2;
    padding: 40px;
    p{
        padding-top: 30px;
        line-height: 25px;
    }
    h3{
        padding-top: 30px;
    }
    .googleplay{
        padding-top: 30px;
    }
}


.heading{
    &-primary{
        font-size: 22px;
        font-weight: 500;
    }
    &-secondary{
        font-size: 22px;
    }
}

.tac{
    text-align: center;
}

.padding{
    &-large{
        padding: 100px 0;
    }
    &-medium{
        padding: 60px 0;
    }
    &-small{
        padding:20px 0;
    }
    @media(max-width:768px){
        &-mobile{
            padding: 15px;
        }
    }
}

.heading_container{
    @media(max-width:768px){
        p{
            font-size: 14px;
        }
    }
    max-width: 600px;
    margin: 0 auto;
}
.flex_design{
    @media(max-width:768px){
        width: 100%;
        margin: 30px 0;
    }
    width: 570px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow:0 19px 38px rgb(255 255 255 / 30%), 0 0 5px 0 rgb(0 0 0 / 22%);
    margin: 30px;
    padding: 30px;
}

.bg_blue{
    @media(max-width:768px){
        background-size: cover;
        background-image: url("../images/backgroundimg.png");
    }
    margin-top: 100px;
    background: url("../images/bgrdimage.png") no-repeat;
    background-size: 100%;
    color: #fff;
}
.rating{
    @media(max-width:768px){
            width: 105px;
            height: 115px;
            padding: 15px 10px;
        img{
            width: 20px;
        }
        p{
            font-size: 10px;
        }
    }
    text-align: center;  
    line-height: 1.4;
    width: 145px;
    height: 160px;
    padding: 30px 0;
    border-radius: 5px;
    background-color: #5851ea;
    p{
        color: #fff;
    }
}
.app_perfectly{
    @media(max-width:768px){
        background: url("../images/respbg.png") no-repeat;
        background-size: 100%;
    }
    background: url("../images/backgroundshort.png") no-repeat;
    background-size: 100%;
    h3{
        @media(max-width:768px){
            font-size: 24px;
        }
        font-size: 30px;
    }
}
.creative_team_icons ul{
    background-color: #000;
}
.our_customer{
    @media(max-width:768px){
        background: url("../images/rectangle.png");
        width: 100%;
    }
    background: url("../images/backgroundimage.png");
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
// .creative_team_icons li{
//     border-right: 2px solid #000;
//     text-align: center;
//     &:last-child{
//         border: none;
//     }
// }

